.centered {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.has-link {
  color: white;

  &:hover {
    color: inherit;
  }
}

.--dark {
  background-color: #151b22;

  .card {
    background-color: inherit;
    color: white;
  }

  .menu-wrapper .menu-navbar {
    background-color: white;

    p,
    div,
    h1,
    h2,
    label,
    li a {
      color: black;
    }
  }

  p,
  div,
  h1,
  h2,
  label,
  strong {
    color: white;
  }

  footer {
    background-color: #0c1117;
  }
}

.button {
  outline: none;
  border: none;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.marked {
  word-wrap: break-word;
  font-family: inherit;

  a:hover {
    color: rgb(170, 53, 170);
  }

  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: 6px;
    margin-top: 4px;
  }

  p {
    margin: 4px 2px 2px 4px;
    padding: 4px;
  }

  code {
    color: #0fb85a;
    border-radius: 4px;
    background-color: #001625;
  }

  strong {
    color: #775624;
  }

  pre {
    background-color: #001625;
    border: 1px solid #6c44c4;
    border-radius: 20px;

    code {
      font-family: inherit;
      color: #bcc6cc;
    }
  }
}

.nuxt-link-exact-active {
  color:#008776;

  &:hover {
    color: #6c44c4;
  }
}