@mixin fillout() {
  height: 100%;
  width: 100%;
}

@mixin topleft() {
  top: 0;
  left: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #0c1117;
}

::-webkit-scrollbar-thumb {
  background-color: #114568;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.--dark {
  background-color: #151b22;

  p,
  div,
  h1,
  h2,
  label {
    color: white;
  }

  .button:hover {
    color: gainsboro;
  }

  .button {
    outline: none;
    border: none;
  }

  strong {
    color: #00d0b3;
  }
  footer {
    background-color: #0c1117;
  }
}

.menu-wrapper {
  @include fillout();

  .menu-backdrop {
    @include fillout();
    z-index: 100;
    position: fixed;
    @include topleft();
    background-color: rgba(12, 17, 23, 0.9);
  }

  .menu-navbar {
    height: 100%;
    width: 240px;
    @include topleft();
    position: fixed;

    background-color: #0c1117;
    z-index: 200;
    box-sizing: border-box;
    padding: 2rem;

    .menu-label {
      color: white;
    }

    .menu-list {
      a {
        color: white;

        &:hover {
          color: #6c44c4;
        }
      }
    }
  }

  .end {
    margin-top: auto;
  }

  .slide-side-enter-active,
  .slide-side-leave-active {
    transition: all 0.3s ease-out;
  }
  .slide-side-enter,
  .slide-side-leave-to {
    transform: translateX(-100%);
  }
}

.--rounded {
  border-radius: 30px;
}

.is-github {
  background-color: #6c44c4;
  color: white;

  &:hover {
    background-color: #663dbe;
    color: white;
  }
}

.is-js {
  background-color: #eec40b;
  color: black;
}

.is-nuxt {
  background-color: #5b7e8b;
  color: white;

  &:hover {
    background-color: #4d717e;
    color: white;
  }
}

.is-vue {
  background-color: #008776;
  color: white;

  &:hover {
    background-color: #037062;
    color: white;
  }
}

.burger:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
}

.social-links {
  height: 32px;
  width: 32px;
  color: white;
}

.post-image {
  width: 468px;
  height: 468px;
}

@media screen and (max-width: 500px) {
  .post-image {
    height: 50%;
    background-position: center;
  }

  .is-mobile {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .mobile {
    max-width: 300px;
    word-wrap: break-word;

    * {
      font-size: 14px;
    }
  }
}

@media all and (max-width: 796px) {
  .--mobile {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .mobile {
    max-width: 300px;
    word-wrap: break-word;

    * {
      font-size: 14px;
    }
  }
}

.loading {
  .subtitle {
    text-align: center;
    margin-bottom: 16px;
  }
}

.is-loading {
  display: flex;
  justify-content: center;
}

.loader {
  border: 16px solid #0a1117;
  border-radius: 50%;
  border-top: 16px solid #008cf6;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 34px;
  outline: none;
  border: none;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #0fb85a;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #0fb85a;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.marked {
  word-wrap: break-word;
  font-family: inherit;

  a:hover {
    color: rgb(170, 53, 170);
  }

  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.2em;
    margin-bottom: 6px;
    margin-top: 4px;
  }

  p {
    margin: 4px 2px 2px 4px;
    padding: 4px;
  }

  code {
    color: #0fb85a;
    border-radius: 4px;
    background-color: #001625;
  }

  strong {
    color: #775624;
  }

  pre {
    background-color: #001625;
    border: 1px solid #6c44c4;
    border-radius: 20px;

    code {
      font-family: inherit;
      color: #bcc6cc;
    }
  }
}
